  <div class="priyujay-silk-mark-wrp">
      <div class="priyujay-silk-mark-bg">
          <img class="web-image" src="https://cdn.shopify.com/s/files/1/0704/1119/0580/files/Priyuja-silk-web.png" />
        <img class="mobile-image" src="https://cdn.shopify.com/s/files/1/0704/1119/0580/files/pure-banarasi_silk-sarees-mobile.webp?" />
        <p>
          All our Pure banarasi Silk Sarees are Silk Mark Certified. We aim to provide our customers with the
          best quality sarees, handwoven by the talented artisans and weavers from the city of Varanasi.
        </p>
      </div>
 
 
</div>

<style>
  .priyujay-silk-mark-wrp{
    margin:100px auto 120px;
  }
  .priyujay-silk-mark-bg{
    position: relative;
  }
  .priyujay-silk-mark-wrp img{
    width:100%;
    position: relative;
  }
  .mobile-image{
    display:none;
  }
  .priyujay-silk-mark-bg p {
   position: absolute;
    top: 70%;
    max-width: 600px;
    padding: 0 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    line-height: 25px;
}
  @media screen and (max-width: 767px) {
    .mobile-image{
    display:block;
  }
    .web-image{
       display:none;
    }
    .priyujay-silk-mark-bg p {
    width: 80%;
    font-size: 14px;
    line-height: 19px;
    top: 69%;
}
    .priyujay-silk-mark-wrp {
    margin: 50px auto 60px;
}
  }
</style>



{% schema %}
{
  "name": "silk-mark",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "silk-mark",
      "default": "silk-mark"
    },
    {
      "type": "collection",
      "id": "home_featured_products",
      "label": "t:sections.featured-collection.settings.home_featured_products.label"
    },
    {
      "type": "range",
      "id": "per_row",
      "label": "t:sections.featured-collection.settings.per_row.label",
      "default": 4,
      "min": 1,
      "max": 5,
      "step": 1
    },
    {
      "type": "range",
      "id": "rows",
      "label": "t:sections.featured-collection.settings.rows.label",
      "default": 1,
      "min": 1,
      "max": 5,
      "step": 1
    },
    {
      "type": "checkbox",
      "id": "mobile_scrollable",
      "label": "silk-mark",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "view_all",
      "label": "t:sections.featured-collection.settings.view_all.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.featured-collection.settings.divider.label",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "silk-mark"
    }
  ],
  "blocks": [],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}